<form [formGroup]="form">
    <div class="form-group">
        <h3>Settings</h3>
        <h4>NewsAPI.org</h4>
        <input type="text" class="form-control" placeholder="API from newsapi.org" 
        formControlName="secret">
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/']">
                Back
            </button> &nbsp;
            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="deleteApi()">
                Delete
            </button>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="addApi()">
                Add
            </button> &nbsp;
        </div>
    </div>
</form>
    
